<div class="row">
    
<div class="col-md-4 offset-md-2">
    <mat-card class="text-center custom-card">
    <mat-card-content>
        <p>
            <strong>Go To Users Component</strong>
        </p>
        <mat-divider></mat-divider>
         <button (click)="navigateToUsers()" class="mt-2" mat-fab color="accent" aria-label="click">
          click
        </button>
    </mat-card-content>
</mat-card>
</div>
<div class="col-md-4">
    <mat-card class="text-center custom-card">
    <mat-card-content>
        <p>
            <strong>Go To Products Component</strong>
        </p>
        <mat-divider></mat-divider>
         <button (click)="navigateToProducts()" class="mt-2" mat-fab color="accent" aria-label="click">
          click
        </button>
    </mat-card-content>
</mat-card>
</div>
</div>